/* You can add global styles to this file, and also import other style files */
@import '~highlight.js/styles/vs.css';

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.container {
  display: flex;
  height: calc(100vh - 56px);
  overflow: hidden;
}

.editor {
  width: 50vw;
  height: 100%;
  flex: none;
}

.output {
  width: 50vw;
  height: 100%;
  flex: none;
  overflow: hidden;
}

.mdc-top-app-bar--short-fixed-adjust {
  height: 100%;
}

.hljs {
  margin: 0;
  height: 100%;
}
